#etPVJ6WEyfY5_to {
  animation: etPVJ6WEyfY5_to__to 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY5_to__to {
  0% {
    transform: translate(387.795px, 259.006px);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  50% {
    transform: translate(307.329496px, 259.006px);
  }
  100% {
    transform: translate(307.329496px, 259.006px);
  }
}
#etPVJ6WEyfY5 {
  animation: etPVJ6WEyfY5_c_o 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY5_c_o {
  0% {
    opacity: 0.75;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#etPVJ6WEyfY12_to {
  animation: etPVJ6WEyfY12_to__to 2000ms infinite reverse forwards;
}
@keyframes etPVJ6WEyfY12_to__to {
  0% {
    transform: translate(699.428px, 259.006px);
  }
  20% {
    transform: translate(699.428px, 259.006px);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  70% {
    transform: translate(623.307081px, 259.006px);
  }
  100% {
    transform: translate(623.307081px, 259.006px);
  }
}
#etPVJ6WEyfY19_to {
  animation: etPVJ6WEyfY19_to__to 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY19_to__to {
  0% {
    transform: translate(545.453px, 259.006px);
  }
  10% {
    transform: translate(545.453px, 259.006px);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  60% {
    transform: translate(466.783647px, 259.006px);
  }
  100% {
    transform: translate(466.783647px, 259.006px);
  }
}
#etPVJ6WEyfY26_to {
  animation: etPVJ6WEyfY26_to__to 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY26_to__to {
  0% {
    transform: translate(863.555px, 259.006px);
  }
  30% {
    transform: translate(863.555px, 259.006px);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  80% {
    transform: translate(777.743647px, 259.006px);
  }
  100% {
    transform: translate(777.743647px, 259.006px);
  }
}
#etPVJ6WEyfY33_to {
  animation: etPVJ6WEyfY33_to__to 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY33_to__to {
  0% {
    transform: translate(466.727px, 259.006px);
  }
  5% {
    transform: translate(466.727px, 259.006px);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  55% {
    transform: translate(387.851647px, 259.006px);
  }
  100% {
    transform: translate(387.851647px, 259.006px);
  }
}
#etPVJ6WEyfY33 {
  animation: etPVJ6WEyfY33_c_o 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY33_c_o {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  55% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.75;
  }
}
#etPVJ6WEyfY40_to {
  animation: etPVJ6WEyfY40_to__to 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY40_to__to {
  0% {
    transform: translate(777.687px, 258.332px);
  }
  25% {
    transform: translate(777.687px, 258.332px);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  75% {
    transform: translate(699.484647px, 258.332px);
  }
  100% {
    transform: translate(699.484647px, 258.332px);
  }
}
#etPVJ6WEyfY47_to {
  animation: etPVJ6WEyfY47_to__to 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY47_to__to {
  0% {
    transform: translate(623.351px, 259.006px);
  }
  15% {
    transform: translate(623.351px, 259.006px);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  65% {
    transform: translate(545.459364px, 259.006px);
  }
  100% {
    transform: translate(545.459364px, 259.006px);
  }
}
#etPVJ6WEyfY54_to {
  animation: etPVJ6WEyfY54_to__to 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY54_to__to {
  0% {
    transform: translate(941.453px, 259.006px);
  }
  35% {
    transform: translate(941.453px, 259.006px);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  85% {
    transform: translate(863.611647px, 259.006px);
  }
  100% {
    transform: translate(863.611647px, 259.006px);
  }
}
#etPVJ6WEyfY61_to {
  animation: etPVJ6WEyfY61_to__to 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY61_to__to {
  0% {
    transform: translate(1020.96px, 259.006px);
  }
  40% {
    transform: translate(1020.96px, 259.006px);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  90% {
    transform: translate(942.244312px, 259.006px);
  }
  100% {
    transform: translate(942.244312px, 259.006px);
  }
}
#etPVJ6WEyfY61 {
  animation: etPVJ6WEyfY61_c_o 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY61_c_o {
  0% {
    opacity: 0.75;
  }
  40% {
    opacity: 0.75;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#etPVJ6WEyfY68_to {
  animation: etPVJ6WEyfY68_to__to 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY68_to__to {
  0% {
    transform: translate(1100.47px, 259.006px);
  }
  45% {
    transform: translate(1100.47px, 259.006px);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  95% {
    transform: translate(1021.016647px, 259.006px);
  }
  100% {
    transform: translate(1021.016647px, 259.006px);
  }
}
#etPVJ6WEyfY68 {
  animation: etPVJ6WEyfY68_c_o 2000ms linear infinite reverse forwards;
}
@keyframes etPVJ6WEyfY68_c_o {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  95% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.75;
  }
}
